body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* when rooms/floors > 30 -> .app.height: 150% */

.app {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr; /* Change to make building +- square */
  grid-template-rows: 1fr 6fr 1fr;
  padding: 3%;
}

.controls {
  grid-area: 1 / 1 / 2 / 4;
  justify-self: center;
}

.building-field {
  grid-area: 2 / 2 / 3 / 3;
}

.building {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  border: 2px solid darkgrey;
  border-radius: 1px;
}

.apartment {
  width: 80%;
  height: 80%;
  min-width: 15px;
  min-height: 15px;
  border: 2px solid darkgrey;
  border-radius: 1px;
}

.lift-container {
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
  transition-property: bottom, left;
  transition-timing-function: linear;
}

.lift {
  width: 90%;
  height: 90%;
  min-width: 15px;
  min-height: 15px;
  border: 3px solid darkgrey;
  border-radius: 1px;
  background-color: #dce775;
}

.input-field {
  display: inline-block;
}